# === NetBeans (Ajustado para múltiplos projetos) ===
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.mtj.tmp/

# === Java (Compilados) ===
**/*.class
**/*.jar
**/*.war
**/*.ear

# === Maven ===
**/target/

# === Sistema Operacional ===
.DS_Store
Thumbs.db